@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Welcome</h3>
        </div>
    </header>

    <main class="px-3">
        <p class="lead">Please Login or Register before accessing our database of appartment to rent.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white"></a>.</p>
    </footer>
</div>

<div class="text-center">
    <h1 class="display-4">Property Rental Management Website</h1>
</div>


