@using PropertyRentalManagementWebSite.Data.Enum
@using PropertyRentalManagementWebSite.ViewModels
@model EditAppartmentVM

@{
    ViewData["Title"] = "Edit an appartment";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Edit an appartment</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form method="post" asp-action="Edit" enctype="multipart/form-data">
                    <input type="hidden" value="BuildingId" id="BuildingId" />
                    <input type="hidden" value="AddressId" id="AddressId" />
                    <div class="form-group">
                        <label asp-for="AppartmentNumber">Appartment Number</label>
                        <input asp-for="AppartmentNumber" class="form-control" placeholder="Appartment Number">
                        <span asp-validation-for="AppartmentNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuildingId">Building Id</label>
                        <input asp-for="BuildingId" class="form-control" placeholder="Building Id">
                        <span asp-validation-for="BuildingId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumberOfPieces">Number Of Rooms</label>
                        <input asp-for="NumberOfPieces" class="form-control" placeholder="Number Of Room">
                        <span asp-validation-for="NumberOfPieces" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePerMonth">Price Per Month</label>
                        <input asp-for="PricePerMonth" class="form-control" placeholder="Price Per Month">
                        <span asp-validation-for="PricePerMonth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RentalStartDate">Rental Start Date</label>
                        <input asp-for="RentalStartDate" class="form-control" placeholder="Rental Start Date">
                        <span asp-validation-for="RentalStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RentalEndDate">Rental End Date</label>
                        <input asp-for="RentalEndDate" class="form-control" placeholder="Rental End Date">
                        <span asp-validation-for="RentalEndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RentedStatus">Rented Status</label>
                        <select asp-for="RentedStatus" asp-items="@Html.GetEnumSelectList<RentedStatus>()">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="RentedStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureUrl">Image</label>
                        <input asp-for="PictureUrl" type="file" class="form-control" placeholder="Image">
                        <span asp-validation-for="PictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Update Building" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>